VITE_FARMER_API_URL=http://localhost:8081/api
VITE_FINANCE_API_URL=http://localhost:8082/api
VITE_GROUPORDER_API_URL=http://localhost:8083/api
VITE_NOTIFICATION_API_URL=http://localhost:8084/api
VITE_RECOMMENDATION_API_URL=http://localhost:8085/api
VITE_SUPPLIER_API_URL=http://localhost:8086/api
